.info {
	display: flex;
	flex-wrap: wrap;
 	justify-content: space-around;
}

.info_img img {
	width: 100%;
}

.info_img {	
	padding-top: 70px;
}

.info__title {
	padding-top: 25px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.info__subtitle {
	max-width: 299px;
	padding-top: 25px;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.6;
}

.info__phone {
	padding-top: 25px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.phone_img-1 img, 
.phone_img-2 img {
	width: 100%;
	height: 100%;
}

.info__service {
	padding-top: 40px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.mail_img {
	padding-top: 24px;
	opacity: 0.6;
}

.form {
	max-width: 476px;
	height: 696px;
    padding: 0px 29px;
	margin-left: 150px;
	margin-top: 35px;
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
}

.form__text {
	padding-left: 20px;
	padding-top: 56px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}
.form__name {
	padding-left: 20px;
	padding-top: 30px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
}

.form__input-name{
	width: 100%;
	height: 50px;
	padding-left: 20px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
}

.form__email {
	padding-left: 20px;
	padding-top: 26px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
}

.form__input-email {
	width: 100%;
	height: 50px;
	padding-left: 20px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
}

.form__message {
	padding-left: 20px;
	padding-top: 26px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
}

.form__input-message {
	width: 100%;
	padding-bottom: 170px;
	padding-left: 20px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
}

input { padding: 15px 30px; }

.text__button {
	width: 419px; 
    height: 68px; 
    margin-top: 25px;
    margin-left: 13px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
}

.map {
	overflow: auto;
    position: relative;
    margin-left: 66.43px;
	margin-top: 80px;
	
}