.information {
	background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.information__block {
	display: flex;
}

.information__main {
	max-width: 600px;
	font-weight: 300;
	font-size: 64px;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.information__title {
	max-width: 425px;
	padding-top: 32px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
}

.information__btn {
	width: 220px;
	height: 56px;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	border:none;
}

.image_ilustration img {
	width: 100%;
	
}

.description__text {
	padding-top: 124.24px;
	padding-bottom: 64px;
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.items {
	display: flex;	
	justify-content: space-around;
}

.item{
	max-width: 359px;
	height: 500.13px;
	padding-top: 43.9px;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
}

.item__img {
	padding-left: 91px;
	width: 60%;
	height: 25%;
}

.item__title {
	max-width: 330px;
	min-height: 114px;
	padding-left: 32px;
	padding-top: 51.38px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #1F3F68;
}

.item__subtitle {
	width: 296.31px;
	padding-left: 32px;
	padding-top: 14px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
}
