.project__image {
	padding-top: 64px;	
}

.project__item {
	display: flex;
}

.project__image-1 img {
	width: 100%;
}

.project__image-2 img {
	width: 100%;
}

.project__image-3 img {
	width: 100%;
}

.project__text {
	text-align: center;
}

.project__title {
	padding-top: 63.87px;
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.project__subtitle {
	padding-top: 32px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #222222;
}

.project__img-title-1 {
	position: absolute;
	left: 588px;
	top: 53px;
	font-size: 32px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.project__image-1 {
	position: relative;
	
}

.project__image-2 {
	position: relative;
	padding-top: 32px;
	padding-right: 2px;
}

.project__img-title-2 {
	position: absolute;
	left: 32px;
	top: 72px;
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.project__image-3 {
	position: relative;
	padding-top: 32px;
}

.project__img-title-3 {
	position: absolute;
	left: 32px;
	top: 72px;
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}