
@media (max-width: 1024px) {
	.container {
		max-width: 970px;
	}

	.header__menu {
		padding-left: 193px;
	}
	
	.present__text {
		max-width: 360px;
	}
	
	.present__title {
		font-size: 35px;
		line-height: 47px;
	}
	
	.present__subtitle {
		padding-top: 10px;
		padding-right: 0px;
		font-size: 20px;
		line-height: 32px;
	}

	.products__text {
		max-width: 486px;
	}

	.products__title {
		font-size: 35px;
	}

	.products__subtitle {
		padding-top: 10px;
		font-size: 15px;
	}


} 

@media (max-width: 768px) {
	.container {
		max-width: 710px;
	}

	.header__menu {
		padding-left: 34px;
	}

	.present__title {
		padding-top: 0;
	}

	.present__title {
		font-size: 30px;
		line-height: 40px;
	}
	
	.present__subtitle {
		font-size: 15px;
		line-height: 25px;
	}

	.present__button {
		padding-top: 20px;
	}

	.present__btn {
		padding: 15px 17px;
		font-size: 11px;
	}

	.sponsors {
		padding-top: 60px;
	}

	.products__block {
		padding-top: 30px;
	}
	
	.products__title {
		font-size: 30px;
	}

	.items {
		padding-top: 25px;
	}

	.items__titile {
		font-size: 20px;
		line-height: 40px;
	}

	.items__subtitile {
		font-size: 15px;
		line-height: 25px;
	}

	.items__button-buy {
		width: 99px;
		height: 41px;
		margin-top: 16px;
		font-size: 12px;
		color: #FFFFFF;
	}

	.items__price {
		font-size: 25px;
	}

	.rating__title {
		font-size: 46px;
	}

	.information__block {
		display: block;
		padding-top: 30px;
	}

	.information__image {
		display: none;
	}

	.information__title {
		font-size: 30px;
	}

	.information__subtitle {
		font-size: 15px;
	}

	.information__text {
		max-width: 602px;
		padding-right: 0;
	}
	.information__button {
		text-align: center;
	}

	.feedback__block {
		margin-top: 49px;
	}

	.feedback__title {
		padding-top: 0; 
		font-size: 25px;
	}

	.feedback__star {
		padding-top: 2px;
	}

	.feedback__subtitle {
		max-width: 603px;
		padding-top: 12px;
		font-size: 15px;
		line-height: 27px;
	}

	.feedback__author {
		padding-top: 6px;
		font-size: 20px;
	}

	.feedback__profession {
		font-size: 18px;
		padding-top: 0;
	}

	.footer__text {
		padding-top: 32px;
		font-size: 25px;
	}
	.footer__subtitle {
		padding-top: 2px;
		font-size: 15px;
		line-height: 25px;
	}

	.footer__contacts {
		padding-left: 213px;
		padding-top: 47px;
	}

	.footer__email {
		padding-top: 13px;
	}

}


@media (max-width: 425px) {

	.container {
		max-width: 400px;
	}

	.header {
		min-height: 93px;
	}

	.header__title {
		font-size: 16px;
	}

	.header__menu {
		padding-left: 34px;
	}

	.menu__link {
		margin-left: 9px;
		font-size: 10px;
	}

	.present__title {
		font-size: 15px;
		line-height: 20px;
	}
	.present__subtitle {
		font-size: 12px;
		line-height: 15px;
	}
	
	.present__button {
		padding-top: 12px;
	}

	.present__btn {
		padding: 9px 7px;
		font-size: 8px;
	}

	.sponsors {
		padding-top: 32px;
	}

	.products__title {
		font-size: 20px;
		line-height: 50px;
	}

	.products__subtitle {
		padding-top: 0px;
		font-size: 12px;
		line-height: 25px;
	}

	.items__titile {
		padding-left: 13px;
		font-size: 15px;
		line-height: 20px;
	}

	.items__subtitile {
		padding-left: 13px;
		font-size: 12px;
		line-height: 20px;
	}

	.items__button-buy {
		width: 73px;
		height: 31px;
		margin-top: 16px;
		font-size: 10px;
		margin-left: 14px;
	}

	.items__price {
		font-size: 18px;
		padding-left: 14px;
	}

	.rating {
		height: 181px;
		margin-top: 34px;
	}

	.rating__block {
		padding-top: 46px;
	}

	.rating__title {
		font-size: 25px;
	}

	.rating__subtitle {
		font-size: 15px;
	}

	.information__btn {
		padding: 16px 26px;
		font-size: 10px;
	}

	.feedback__block {
		display: block;
		text-align: center;
	}

	.feedback__text {
		padding-left: 0;
	}

	.feedback__image img {
		width: 70%;
	}

	.footer__text {
		font-size: 20px;
	}

	.footer__subscribe {
		display: block; 
		padding-top: 18px;
		font-size: 12px;
		line-height: 20px;
	}

	.footer__title {
		padding: 0;
		font-size: 18px;
	}


	.footer__input {
		padding: 10px;
	}

	.footer__button {
		padding: 10px 22px;
		font-size: 10px;
	}

	.footer__info {
	justify-content: space-between;
	}

	.footer__contacts {
		padding-left: 53px;
		padding-top: 47px;
	}

	.footer__contact {
		font-size: 13px;
	}

	.footer__email {
		font-size: 12px;
	}

	.footer__number {
		padding-top: 7px;
		font-size: 12px;
	}

}

@media (max-width: 320px) { 
	.items {
		display: block;
	}

	.items__product:last-child {
		margin-top: 20px;
	}
}