@media (max-width: 1024px) {
	.container {
    max-width: 1015px;
  } 

  .category-item:not(:first-child) {
    margin-left: 4px;
  }

  .category-accesories__text {
    left: 417px;
	top: 45px;
}

  .descr {
    margin-left: 100px;
  }

  .catalog-block__btn-text {
    margin: 48.5px 463.5px 0px 403.5px;
  }

  .subscribe-block__sub {
    padding-left: 203px;
  }

  .information-block {
    flex-direction: column;
	padding-top: 47px;
	text-align: center;
  }

  .information-block__delivery, .information-block__sales, .information-block__quality {
	padding-right: 0px; 
}

  .information-block__img-1, .information-block__img-2, .information-block__img-3  {
    padding-left: 0px;
	padding-right: 0px;

  }

.information-block__title-1 {
	padding-left: 0px;
  }

.information-block__title-2, .information-block__title-3 {
	padding-left: 0px;
  }

  .information-block__delivery, .information-block__sales, .information-block__quality {
    padding-bottom: 35px;
}

.info__block {
    max-width: 992px;
  }
  .product__img {
    padding: 0px; 
}
}

@media (max-width: 768px) {
  .container {
    max-width: 748px
  } 

  .block__text {
    color: #222222;
    padding-left: 44px;
    padding-top: 162px;
  }

  .block__text-title {
    font-size: 30px;
    line-height: 35px;
  }

  .block__text-subtitle {
    font-size: 25px;
    line-height: 30px;
}
   .category__text {
    top: 67px;
    left: 72px;
    font-size: 12px;
   }
	.category-accesories__text {
		left: 299px;
	}

	.descr {
		margin-left: 178px;
	}

	.catalog-block__btn-text {
		margin: 48.5px 463.5px 0px 271.5px;
	}

	
.catalog__filter {
	margin-bottom: 26px; 
}
.catalog__filter-img {
	width: 15px;
	height: 10px;
	margin-left: 11px;
}

.catalog__filter-clothes {
	width: 296.02px;
	margin-right: 0px;
}

.catalog__filter-trend {
	width: 112px;
}

.catalog__filter-size, .catalog__filter-price {
	margin-left: 18.93px;
}

.info__block {
    max-width: 714px;
}
.info__btn-cart {
    margin: 48.91px 437.5px 65px 255.5px;
}
}


@media (max-width: 425px) {
  .container {
    max-width: 395px
  } 

  .block__image {
	display: none;
  }

  .block__background {
    width: 100%;
	min-height: 100px;
  }

  .block__text {
    padding-left: 0px;
    padding-top: 162px;
  }

  .block__text-title {
    font-size: 30px;
    line-height: 30px;
  }

  .block__text-subtitle {
	font-size: 25px;
	line-height: 30px;
  }

   .category__text {
	top: 35px;
	left: 31px;
	font-size: 9px;
   }
   .category-accesories__text {
	left: 140px;
	top: 20px;
   }

	.descr {
		margin-left: 0px;
	}

	.catalog-block__btn-text {
		margin: 48.5px 463.5px 0px 65px;
	}

	.footer__text {
		font-size: 12px;
	}

	.catalog-descr__title {
		padding: 21.35px 49px 12.65px 18px;

	}

	.footer-block {
		display: block;
	}

	.block__title {
		font-size: 17px;
	}

	.catalog__filter {
		padding-left: 0px;
	}

	.info__block {
		max-width: 371px;
		top: 601px;
	}	

	.product__arrow-left, .product__arrow-right {
		margin: 167px 0px;
	}
	.info__btn-cart {
		margin: 48.91px 437.5px 65px 68.5px;
	}

	
	.info__img-line2 {
		width: 100%;
	}

	.product__arrow-left{
		width: 100%;
	}

	.product__img{
		width: 75%;
		height: 100%;
	}

	.product__arrow-right{
		width: 100%;
	}
}


@media (max-width: 375px) {
	.container {
		max-width: 345px;
	} 

	.header__logo {
		padding: 2px;
	}

	.header__search {
		margin-left: 23px;
	}

	.nav__link {
		margin-left: 14px;
		margin-top: 8px;
	}

	
	.catalog__filter {
		margin-bottom: 16px; 
	}
	.catalog__filter-text {
		display: none;
	}

	.catalog__filter-img {
		width: 37.5px;
		height: 25px;
		margin-left: 8px;
	}

	.info__block {
		max-width: 315px;
	}
}


@media (max-width: 320px) {
	.container {
		max-width: 300px
	} 

	.category__text {
		top: 24px;
		left: 24px;
		font-size: 7px;
	}
	
	.category-accesories__text {
		left: 90px;
 	    top: 16px;
	}

	.catalog-block__btn-text {
		margin: 48.5px 463.5px 0px 28px;
	}

	.info__block {
		max-width: 276px;
	}
	.info__btn-cart {
		margin: 48.91px 437.5px 65px 32.5px;
	}
}
