@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato;
  text-decoration: none;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  min-height: 75px;
  background: #222222;
}

.header__logo {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ieft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  margin-top: 10.21px;
  margin-left: 41px;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  margin-left: 34px;
  margin-top: 8px;
  margin-top: 12px;
  margin-left: 33px;
  margin-top: 8px;
}

.blocks {
  background: #F1E4E6;
  width: 100%;
  min-height: 354px;
  margin: 0 auto;
  padding: 0 15px;
}

.block__text {
  color: #222222;
  padding-top: 128px;
  background: #F1E4E6;
  text-align: center;
}

.block__text-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
}

.block__text-subtitle {
  font-weight: 700;
  font-size: 37px;
  line-height: 44.4px;
}

span {
  color: #F26376;
}

.product {
  background: #F7F7F7;
  position: relative;
}

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__arrow-left, .product__arrow-right {
  margin: 365px 0px;
}

.info {
  min-height: 607px;
}

.info__block {
  position: absolute;
  max-width: 1141px;
  border: 1px solid #EAEAEA;
  top: 935px;
  background: #FFFFFF;
  text-align: center;
}

.info__title {
  padding-top: 64.54px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.info__img-line {
  max-width: 53px;
  padding-top: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__subtitle {
  padding-top: 27.23px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.info__descr {
  padding-top: 48.41px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.info__price {
  padding-top: 32.27px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.info__img-line2 {
  padding-top: 65.04px;
}

.info__filter {
  padding-top: 65.05px;
}

.info__filter-choose {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.info__btn-cart {
  width: 211px;
  height: 47.4px;
  border: 1px solid #FF6A6A;
  background: transparent;
  margin: 48.91px 465.5px 65px 464.5px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__btn-img {
  padding-top: 8.62px;
  padding-left: 23.5px;
}

.info__btn-text {
  padding-right: 57px;
  padding-top: 14px;
}

.info__filter-arrow {
  padding-right: 22.98px;
}

.catalog {
  margin-top: 57px;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-block__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.catalog-block__subtitle {
  padding-top: 6px;
  padding-bottom: 18px;
  font-size: 14px;
  color: #9F9F9F;
}

.descr {
  max-width: 360px;
  background: #F8F8F8;
  margin-top: 30px;
  margin-left: 15px;
}

.catalog-descr__img {
  position: relative;
  max-width: 360px;
}

.catalog-descr__img:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.catalog-descr__img:hover button {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: rgba(58, 56, 56, 0.86);
}

.catalog-descr__img:hover .catalog__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.catalog-descr__img img {
  width: 100%;
}

.catalog__text {
  text-align: center;
}

.basket__btn {
  opacity: 0;
  position: absolute;
  width: 138px;
  height: 43px;
  top: 188.5px;
  border: 1px solid #FFFFFF;
  left: 110.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__btn-img {
  padding-top: 5.62px;
  padding-left: 13.5px;
}

.basket__cart-text {
  font-size: 14px;
  color: #FFFFFF;
  padding-right: 11.04px;
  padding-top: 10px;
}

.catalog-descr__title {
  padding: 24.35px 192.89px 12.65px 18px;
  font-size: 17px;
  line-height: 16px;
  color: #000000;
}

.catalog-descr__subtitle {
  min-height: 51px;
  padding-left: 16.46px;
  padding-right: 28.8px;
  color: #5D5D5D;
}

.catalog-descr__price {
  padding-top: 18px;
  padding-left: 18.41px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.catalog-block__btn-text {
  width: 212px;
  height: 47px;
  border: 1px solid #FF6A6A;
  background: transparent;
  margin: 48.5px 463.5px 0px 465.5px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.catalog-block__btn-text:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
  padding-left: 20px;
}

.catalog__filter-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.catalog__filter-clothes {
  margin-right: 431px;
}

.catalog__filter-trend {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.catalog__filter-size {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 27.93px;
}

.catalog__filter-price {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 27.93px;
}

.catalog__img-arrow {
  height: 5px;
  margin-left: 10px;
}

.product-wrapper {
  padding-bottom: 128px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

.category-item:not(:first-child) {
  margin-left: 30px;
}

.category-item, .category-accesories {
  position: relative;
}

.category__text {
  position: absolute;
  top: 105px;
  left: 125px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.category-men__text {
  left: 135px;
}

.category-kids__text {
  left: 115px;
}

.category-accesories__image {
  margin-top: 30px;
}

.category-accesories__text {
  left: 478px;
}

.category-accesories__image img {
  width: 100%;
}

.category-women img {
  width: 100%;
}

.category-men img {
  width: 100%;
}

.category-kids img {
  width: 100%;
}

.information {
  min-height: 341px;
  background: #222224;
  margin-top: 95.5px;
}

.information-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 103px;
}

.information-block__delivery, .information-block__sales, .information-block__quality {
  padding-right: 30px;
}

.information-block__img-1 {
  padding-left: 158.03px;
  padding-right: 156.98px;
}

.information-block__title-1 {
  padding-top: 28.07px;
  padding-left: 117.34px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.information-block__subtitle {
  padding-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.information-block__img-2 {
  padding-left: 160px;
  padding-right: 160.01px;
}

.information-block__title-2 {
  padding-top: 19.07px;
  padding-left: 99.43px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.information-block__img-3 {
  padding-left: 156.02px;
  padding-right: 156.96px;
}

.information-block__title-3 {
  padding-top: 25.07px;
  padding-left: 96.79px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer {
  width: 100%;
  min-height: 79px;
  background: #222224;
}

.footer-block {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 6px;
}

.img__anim {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.img__anim:hover {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.nav {
  min-height: 148px;
  background: #F8F3F4;
}

.block {
  padding-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__title {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
}

.block__nav-size {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.block__nav-color {
  color: #F16D7F;
  font-weight: 800;
}

.cart__block {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space between;
      -ms-flex-pack: space between;
          justify-content: space between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__product {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 30px;
}

.cart__img {
  width: 262px;
  height: 306px;
}

.cart__product-text {
  padding-top: 22px;
  width: 361px;
  height: 159px;
  padding-left: 31px;
}

.cart__product-title {
  padding-right: 57px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart__product-price {
  padding-top: 42px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__product-quantity, .cart__product-size {
  padding-top: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__cross-img {
  padding-top: 28px;
}

.cross__img {
  padding-right: 20px;
}

.cart__form {
  padding-left: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.form__input-text {
  width: 358.99px;
  height: 44px;
  margin-top: 20.5px;
  padding-left: 16.73px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  outline: none;
}

.form__send {
  border: 1px solid #A4A4A4;
  padding: 10px 13.69px 11.5px 14.7px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 24px;
  background: #FFFFFF;
}

.form__send:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.cart__total {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  margin-top: 57.5px;
}

.cart__total-title {
  padding-top: 39px;
  padding-left: 193px;
  font-size: 15px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart__price {
  color: #4A4A4A;
  padding-left: 17px;
}

.cart__font-color {
  color: #F16D7F;
  font-weight: 700;
}

.cart__total-line {
  width: 271px;
  margin-left: 43px;
  background: #E2E2E2;
}

.cart__total-send {
  padding: 15px 65px 16px 69px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
}

.cart__total-button {
  margin-left: 44px;
  margin-top: 17px;
}

.cart__shoppning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__shop-button {
  padding: 16.5px 40.5px 15.5px 38.5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
}

.cart__shop-button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.cart__button {
  margin-top: 89px;
  margin-right: 192.5px;
}

.errors {
  color: red;
  height: 20px;
}

.nav__basket-count {
  color: pink;
}

.cart__product-color {
  color: #575757;
}
